doctype html
html
  head
    title Rock, Paper, Scissors
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(type="text/javascript" src="http://fast.fonts.net/jsapi/225f1cce-2ebb-49d3-b7d4-2ca943082f0a.js")
    link(rel="stylesheet", href='public/bower_components/normalize-css/normalize.css')
    script(type="text/javascript", src="public/bower_components/jquery/dist/jquery.min.js")
  body
    block content
    block client-scripts
      script(type="text/javascript", src="public/javascripts/client.js")
